<footer>
	<p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	Unless specified otherwise, all content here is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
	<br>
	<a href="https://gitlab.com/ravidwivedi/my_site">Source Code</a>
	<br>
	Themed by <a href="https://github.com/colorchestra/smol">Smol</a> 
	</p>
</footer>
